<div class="px-4 py-8">
  <a href="{{ routes.collections_url }}" class="text-base text-gray-500 hover:underline text-center block my-4">Go back to collections</a>
  {% paginate collection.products by section.settings.number_of_products %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-{{ section.settings.number_of_mobile_cols }} md:grid-cols-{{ section.settings.number_of_cols }} gap-1">
        {% for product in collection.products %}

          {% render 'product-card', product_info: product, display_vendor: section.settings.display_vendor %}
        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>
{% schema %}
  {
    "settings": [
      {
        "type": "range",
        "id": "number_of_products",
        "step": 1,
        "min": 1,
        "max": 6,
        "label": "Products per page",
        "default": 3
      }, {
        "type": "range",
        "id": "number_of_cols",
        "min": 1,
        "max": 4,
        "label": "Number of columns to display",
        "default": 3
      }, {
        "type": "number",
        "id": "number_of_mobile_cols",
        "label": "Number of columns to display in mobile devices",
        "default": 2
      }, {
        "type": "checkbox",
        "id": "display_vendor",
        "default": true,
        "label": "Display vendor"
      }
    ]
  }
{% endschema %}